@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Song Form";
}
<h3>Strong Form</h3>
<form asp-controller="Home" asp-action="Sing"  method="post">
    <table>
        <tr>
            <td>Number of bottles</td>
            <td><input type="number" name="numberOfBottels" min="50" max="100"/></td>
        </tr>
        
    </table>
    <input type="submit" value="Record" />
</form>